<div class="newsbuttonactions">
	<!-- calling the comment directory -->
<%= link_to "Back", root_path, class: "btn btn-default" %>

<% if user_signed_in? %>
<% if @message.user_id == current_user.id %>
<%= link_to "Edit", edit_message_path(@message), class: "btn btn-warning" %>
<%= link_to "Delete", message_path(@message),method: :delete, data: {confirm: "Are you sure you wanna delete this News??"}, class: "btn btn-danger" %>
<%end%>
<% end %>
</div>
<br><br>
<div class="title-container">
	<div class="messages">
		
		<h2><%= @message.title %></h2>
		<div class="form-group">
			<div class="datearea col-md-12">
				<p><b>Posted By: </b><u><i><%= @message.user.email %></i></u> <%= time_ago_in_words(@message.created_at)%> ago </p>
			</div>
		</div>
		<hr>

		<br><br>
		<!-- accessing users email for Timestamp-->


			<div class="newsdescription">
				<p><%= @message.description %></p>
			</div>

	</div>	
	<br><br>
		<div class="form-group">
			<h3 class="peoplereply">People's Reply</h3>
		</div>
		<br>

</div>
<div  class="form-group" ><%= render @message.comments %></div>

<%= render 'comments/form'%>

</div>
<br/>