<div class="container">
	<p><%= comment.content %></p>


<p >Posted By : <%= comment.user.email%> <u><%= time_ago_in_words(comment.created_at)%> ago </u></p>



<% if user_signed_in?%>
	<% if comment.user_id == current_user.id %> 

		<%= link_to "Edit", edit_message_comment_path(comment.message, comment)%>
		<!-- first message finds the comment , second is gonna find itself-->

		<%= link_to "Delete", message_comment_path(comment.message, comment), method: :delete, data: {confirm: "Are you sure you wanna delete this precious comment?"} %>
	<%  end %>
<% end %>

<hr>
</div>