<!DOCTYPE html>
<html>
  <head>
    <title>NayanNewsportal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <%= link_to "News Portal", root_path, class: "navbar-brand" %>
          
        </div>
          <ul class="nav navbar-nav">
            <li><%= link_to "Sign Up", new_user_registration_path%></li>
          
            <% if user_signed_in?%>
              <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete%></li>

              <% else%>

              <li><%= link_to "Log In", new_user_session_path%></li>
            <% end %>
          </ul>
      
      </div>
    </div>
      <p class="notice" style="background-color: green; color: white; font-weight: bold; text-align: center;"><%= notice %></p>
      <p class="alert" style="background-color: none; color: red; font-weight: bold; text-align: center;"><%= alert %></p>

      <div class="container">
            <% if user_signed_in? %>
              <div class="button-4">
                    <div class="eff-4"></div>
            <%= link_to "Create News", new_message_path%>
          </div>
          <% end %>
        </div>

      <div class="container">
           <%= yield %>
      </div>

 
  </body>
</html>